<ul id="lists">

  <% sort_lists(@lists) do |list, idx| %>
    <li <%= "class='complete'" if list_complete?(list) %>>
      <a href="/lists/<%= idx %>">
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos].select { |x| x[:completed] == true }.length %> / <%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a><br /><a class="delete" href="/lists/reset">Delete All Lists</a>
<% end %>
