<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul><li><a class="edit" href="/lists/<%= @id %>/edit">Edit Name</a></li></ul>
  </header>
  <ul id="todos">
    <% @list[:todos].each_with_index do |todo, idx| %>
      <li<%= " class='complete'" if todo[:completed] %>>
        <h3><%= todo[:name] %></h3>
          <form action="/lists/<%= @id %>/todos/<%= idx %>" method="post" class="check">
            <input type="hidden" name="completed" value="<%= todo[:completed] ? 'false' : 'true' %>">
            <button type="submit">Complete</button>
          </form>
        <form action="/lists/<%= @id %>/todos/<%= idx %>/delete" method="post" class="delete"><button type="submit">Delete</button></form>
      </li>
    <% end %>
  </ul>

</section>

<form action="/lists/<%= @id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Something to do" type="text" value="<%= params[:todo] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>


<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>
